# Python:
*.py[cod]
*.iml
*.idea
*.log
*.csr
*.key
*.pid
lzh_setting.py

migrations/
!migrations/__init__.py

# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml

.DS_Store
db.sqlite3
